@import "common.scss";
*{
    font-family: Arial, Helvetica, sans-serif;
}
/* $height: "20%";
$fontsize: "17px"; */
.text-field {
    height: $height
}
/* .v-text-field{
    width: 40px !important;
} */
.theme--light.v-app-bar.v-toolbar.v-sheet {
    position: fixed;
    /* background-color: #f5f5f5; */
}
.app-bar .v-input__control {
    margin-top: 25px;
    margin-left: 100px
}
.app-bar .v-app-bar {
    background-color: white !important;
   /*  position: fixed; */
}
.side-nav {
    font-size:15px !important;
 /*    font-weight: 550 !important; */
}
.v-navigation-drawer__border{
    width: 0px !important;
}
.note-card {
    height: 46px;
    max-width: 60%
}
.main-card {
    height: 100%;
    width: 100%
}
.app-bar .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
    box-shadow: none;
/*     background-color: #50404014; */
    background: #f1f3f4;
   /*  border: 1px solid transparent; */
}
.search-text-style.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: $whiteColor
    
}
.theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color: white !important;
}
.nav-bar{
    width: 20% !important;
}
.increase-card-size {
   height: 150px !important;
}
.v-text-field > .v-input__control > .v-input__slot:after {
    /* background-color: currentColor; */
    /* border-color: currentColor; */
    /* border-style: solid; */
    /* border-width: thin 0 thin 0; */
    /* transform: scaleX(0); */
    border: none
}
.note-card .v-text-field > .v-input__control > .v-input__slot:before {
    /* background-color: currentColor; */
    /* border-color: currentColor; */
    /* border-style: solid; */
    /* border-width: thin 0 thin 0; */
    /* transform: scaleX(0); */
    border: none
}
.card-icons {
    font-size: 20px !important;
}
.note-card .v-text-field {
    padding-top: 0px;
    margin-top: 0px;
}
.note-card .v-text-field .v-input__control {
    margin-top: 10px;
}
.text-weight {
    font-weight: bold;
}
.note-card.theme--light.v-card {
    background-color: white;
    color: white;
}
.theme--light.v-messages {
    color:white;
}
.theme--light.v-input {
    color: white;
}
.note-card a {
    color: black !important
}
.theme--light.v-navigation-drawer {
    top: 80px !important
}
.v-divider {
    margin-top: 64px;
}
.v-sheet.v-card {
    border-radius: 8px;
}
.note-card .v-input__slot {
    margin-bottom: 0px;
}
.flex.md3 {
    max-width: 23%;
}
.v-list-item {
    min-height: 35px;
}
.card-container {
   /*  height: 100%; */
}
.on-hover  {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149) !important;
  }
  .card-container .v-list-item {
  /*   word-break: break-word; */
  }
  .v-list {
    word-break: break-word;
  }
  .sign-out-card {
      height: 200px
  }
  .sign-out-list {
      font-size: 17px;
      font-weight: 500;
  }

  

 