*{
    font-family: Arial, Helvetica, sans-serif;
}
$height: "20%";
$fontsize: "17px";
.text-field {
    height: $height
}
/* .v-text-field{
    width: 40px !important;
} */
.app-bar .v-input__control{
    margin-top: 25px;
    margin-left: 100px
}
.side-nav {
    font-size:15px !important;
 /*    font-weight: 550 !important; */
}
.v-navigation-drawer__border{
    width: 0px !important;
}
.note-card .v-input {
    width:70%;
}

.main-card {
    height: 100%;
    width: 100%
}