* {
    font-family: Arial, Helvetica, sans-serif;
}
.login-card {
    width: 30%;
    height: 80%
}
.third-title {
    font-size: 17px !important;
}
.flex-gap {
    margin-top: -20px;
}
.flex-width {
    width:80%;
}
.email-password {
    display: flexbox;
    padding: 5px;
}
.flex-gapp {
    margin: 5px;
}
.create-account {
    font-size: 17px;
    text-decoration: none;
}
.login {
    color: white !important;
    background-color: #2196f3 !important;
}
.activate-account {
    width: 30%;
    height: 50%
}
.v-alert {
    display: block;
    font-size: 15px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}
.reset-password-card {
    width: 30%;
    height: 70%
}
.forgot-password {
    font-size: 17px;
    text-decoration: none;
}
.forgot-password-card {
    width: 30%;
    height: 60%
}

