*{
    font-family: Arial, Helvetica, sans-serif;
}
.account-img {
    margin-left: 50px;
    margin-top: 70px;
    max-width: 220px !important;
  }
  .password-hint , .error-hint {
    margin-top: -25px;
    margin-left: 20px;
    font-size: 12px;
  }
  .mdi-eye {
    margin-top: 20px;
  }
  .second-title {
    margin-top: -20px;
  }
  .red-text {
    color: red;
  }
  .blue-text{
    color: #3a82c2;
  }
  .orange-text{
    color:orange;
  }
  .green-text{
    color:green;
  }
  .text-family-size{
      font-size: 25px;
      font-weight: 500;
  }
  .sign-in{
    text-transform: lowercase !important;
    font-size: 20x !important;
  }
  .error {
    color: red;
  }
  .card-height-width {
    max-width: 55% !important;
    height: 80% !important;
  }
  .red-border {
    color: red !important
  }
  
